<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Socket IO Chat Room</title>
    <script src="js/jquery.js"></script>
    <script src="socket.io/socket.io.js"></script>
    <script src="js/main.js"></script>

    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <input type="text" id="txtRoom">
    <input type="button" id="taoRoom" value="Tao Room">
    <input type="button" id="thoatRoom" value="Thoat Room">
    <div id="left"></div>
    <div id="right"></div>
</body>
</html>